pre code {
  white-space: pre;
}

pre {
  white-space: pre;
  overflow-x: auto;
}

@media (min-width: 1450px) {
  main.content {
    max-width: 90%;
  }
}

#sidebar .nav-list li.nav-header {
  color: #60489c;
}

.long-quote code {
  white-space: normal;
}
