pre code {
  white-space: pre;
}

pre {
  white-space: pre;
  overflow-x: auto;
}

@media (min-width: 1450px) {
  main.content {
    max-width: 90%;
  }
}

code {
  color: var(--secondary-color);
}

li.tab a, li.tab a:hover {
  color: var(--secondary-color);
}

.nav-list li a {
  color: var(--secondary-color);
}

#page-nav a {
  color: var(--secondary-color);
}
